.DS_Store
.env
*__pycache__
*.db
*.log

# User-generated config (created by `semantic init`)
semantic.toml
project_docs.db-shm
project_docs.db-wal
semantic.db-journal
examples/flask_app/instance/uploads/